{#}
<!-- Footer -->
<footer>
	<div class="container-fluid footer-container fixed-bottom">
		<div class="footer text-md-left rounded">
			<div class="row" style="background-color: #116611;">
				<h4 style="color: white;">Plus d'informations sur notre</h4>
				<div class="col-md-6 col-lg-9 text-center text-md-right">
					<a class="mr-3" href="https://www.facebook.com/eunjungsp">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://github.com/3unjung?tab=repositories">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</div>
			<!-- Grid row -->
			<div
				class="row">
				<!-- Grid column -->
				<div class="col-md-6 mt-md-0 mt-3">
					<br>
					<!-- Content -->
					<h5 class="text-uppercase">À propos de
						<a href="/">Jarditou</a>
					</h5>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, nobis consequatur! Suscipit
						                        facere amet, necessitatibus dolorem distinctio odio ea tempora sunt dolores beatae! Officia
						                        excepturi, repellendus enim pariatur illo recusandae?
						                        Harum vero nulla recusandae doloremque in provident dolorem repudiandae dignissimos, omnis
						                        eligendi
						                        tempore, sed rem animi consectetur illum dolor ipsum esse numquam libero. Fuga, exercitationem
						                        voluptatum nam mollitia quasi dicta!
						                        Fugit magni doloremque ipsam explicabo enim ad voluptatum nemo animi quaerat sequi dolores, cum.
					</p>
				</div>
				<!-- Grid column -->

				<hr
				class="clearfix w-100 d-md-none pb-3">
				<!-- Grid column -->
				<div class="col-md-3 mb-md-0 mb-3">
					<br>
					<!-- Links -->
					<h5 class="text-uppercase">Plan du site</h5>

					<ul class="list-unstyled">
						<li>
							<a class="nav-link" href="#index ">Accueil</a>
						</li>
						<li>
							<a class="nav-link" href="#catalogue ">Nos produits</a>
						</li>
						<li>
							<a class="nav-link" href="#register ">Mon compte</a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-3 mb-md-0 mb-3">
					<br>
					<!-- Links -->
					<h5 class="text-uppercase">Liens utiles</h5>

					<ul class="list-unstyled">
						<li>
							<a class="nav-link" href="#!">Nous contacté</a>
						</li>
						<li>
							<a class="nav-link" href="#!">Horaires</a>
						</li>
						<li>
							<a class="nav-link" href="#!">Mentions légales</a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->


			</div>
			<!-- Grid row -->
			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">
				<p class="mr-2">© 2020 Copyright
				</p>
				<!-- MarginRight 4-->
				<strong>
					<a href="/">Jarditou</a>
				</strong>
			</div>
			<!-- Copyright -->
		</div>
		<!-- Footer Links -->

	</div>
	<!-- Footer Links -->


</footer>
<!-- Footer -->
#}