{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1>CEST UNE ERREUR ENORME ...</h1>
<img class="img-fluid" src="{{ 'assets/img/500.jpeg' }}" style="height: 150px; witdh: 400px;" alt="aucune image a afficher pour emmerder le monde">
<div class="row">
			<div class="col">
				<div class="text-center rounded">
					<a href="/"><img class="img-fluid" src="{{ 'assets/img/jarditou.logo.png' }}" style="text-decoration: none;" alt="Logo de Jarditou"></a>

				</div>
			</div>
		</div>


<img class="img-fluid" src="{{'public/assets/img/500.jpeg'}}" style="text-decoration: none;" alt="Logo de Jarditou">



{% endblock %}

